<div class="container login-form">
    <img src="/img/bill.png" alt="" class="rounded mx-auto d-block">
    
    <div class="card mt-4">
        <div class="card-body">
                <a href="/admin"><button type="submit" class="btn btn-primary btn-block">Sign-in</button></a>
                <a href="/requestaccess"><button type="submit" class="btn btn-primary btn-block mt-4">Request access</button></a>
        </div>
    </div>
</div>