<div class="card mt-4 access-form">
    <h1 class="text-center">Request access</h1>
    <hr>
    <div class="card-body">
        <form action="/admin/login" method="post">
            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label for="email">E-mail: </label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Send request</button>
        </form>
        <a href="/"><button type="" class="btn btn-danger btn-block mt-4">Cancel</button></a>
    </div>
</div>
