<div style="margin-top: 10px; margin-bottom: 20px; margin-right: 0px;"class="row w-100">
    <div style="width: 75%" class="h-100 d-flex flex-column w-80">
     <h1>Notícias: </h1>
     <hr>
     {{#each noticias}}

     {{else}}
     <h4>Nenhuma notícia encontrada</h4>     
     {{/each}}
    </div>
    <div style="width: 25%; margin-right: 0;" class="h-100 d-flex flex-column justify-content-right w-20">
      <iframe src="https://open.spotify.com/embed/album/7IHJsjhU4WieTzDRq8RelS" width="auto" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>


