<!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">{{dashboard_title}} </div>
      <div class="list-group list-group-flush">
        <a href="/admin/dashboard" style="color: azure;" class="list-group-item list-group-item-action bg-dark">Dashboard</a>
        <button class="sidenav dropdown-btn">Usuários
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="sidenav dropdown-container">
          <a href="/admin/users/create">Criar</a>
          <a href="/admin/users/remove">Remover</a>
        </div>
        <button class="sidenav dropdown-btn">Conteúdo das páginas
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="sidenav dropdown-container">
          <a href="/admin/edit/home">Página inicial</a>
          <a href="#">Música</a>
          <a href="#">Vídeos</a>
          <a href="#">Sobre</a>
          <a href="#">Contato</a>
        </div>
        <button class="sidenav dropdown-btn">Notícias
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="sidenav dropdown-container">
          <a href="#">Nova</a>
          <a href="#">Gerenciar</a>
        </div>
        <a href="#" style="color: azure;" class="list-group-item list-group-item-action bg-dark">Perfil</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
